@media screen and (min-width: 1000px) {


  * {
    font-family: arial;
  }

  .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid turquoise;
    border-bottom: 0.5px solid grey;
  }

  .header-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  #title {
    font-size: 250%;
  }

  #title-desc {
    color: red;
    font-size: 120%;
  }

  .header-button {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #create-button {
    margin-right: 100px;
    width: 170px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #create-button:hover {
    background-color: turquoise;
  }

  .flex-end {
    display: flex;
    justify-content: center;
    border-top: 0.5px solid grey;
  }

  #copyright {
    margin-right: 2%;
  }

  #error {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }

  .exit-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .exit-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  .exit-button-cont {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #exit-button {
    margin-right: 100px;
    width: 150px;
    height: 120px;
    font-size: 100px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #exit-button:hover {
    background-color: grey;
  }

  .obituary-body-cont {
    height: 700px;
  }

  #obituary-title {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #flowers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form-cont > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #picture {
    display: none;
  }

  #image-selector {
    font-size: 200%;
    padding-bottom: 20px;
  }

  #image-selector:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #selected-file {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #deceased-name {
    width: 25%;
    height: 50px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
    outline: none;
    font-size: 150%;
  }

  #born {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #died {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #born-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #died-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #submit {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
  }

  #submit:hover {
    cursor: pointer;
    background-color: darkslategray;
  }

  .body-cont {
    display: flex;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
  }

  .mem {
    margin: 1%;
    background-color: lightgray;
    border: 3px solid turquoise;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    height: min-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mem:hover {
    cursor: pointer;
    background-color: darkgrey;
  }

  .mem-image {
    margin-top: 5%;
    font-weight: bold;
    font-family: cursive;
    width: 300px;
    height: 300px;
  
  }

  .mem-name {
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: cursive;
  }

  .mem-born {
    font-size: 150%;
    font-family: cursive;
  }

  #dates-dash {
    font-size: 150%;
  }

  .mem-dead {
    font-size: 150%;
    font-family: cursive;
  }

  .mem-desc {
    font-size: 120%;
    margin-top: 5%;
    font-family: cursive;
  }

  .audio-button-cont {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 30%;
    display: flex;
    align-items: end;
  }

  #loading {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;

  }

  audio::-webkit-media-controls-panel {
    background-color: turquoise;
    border-radius: 5px;
  }

}

@media screen and (max-width: 700px) {

  * {
    font-family: arial;
  }

  .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid turquoise;
    border-bottom: 0.5px solid grey;
  }

  .header-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  #title {
    font-size: 250%;
  }

  #title-desc {
    color: red;
    font-size: 120%;
  }

  .header-button {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #create-button {
    margin-right: 100px;
    width: 170px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #create-button:hover {
    background-color: turquoise;
  }

  .flex-end {
    display: flex;
    justify-content: center;
    border-top: 0.5px solid grey;
  }

  #copyright {
    margin-right: 2%;
  }

  #error {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }

  .exit-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .exit-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  .exit-button-cont {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #exit-button {
    margin-right: 100px;
    width: 150px;
    height: 120px;
    font-size: 100px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #exit-button:hover {
    background-color: grey;
  }

  .obituary-body-cont {
    height: 700px;
  }

  #obituary-title {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #flowers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form-cont > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #picture {
    display: none;
  }

  #image-selector {
    font-size: 200%;
    padding-bottom: 20px;
  }

  #image-selector:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #selected-file {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #deceased-name {
    width: 25%;
    height: 50px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
    outline: none;
    font-size: 150%;
  }

  #born {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #died {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #born-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #died-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #submit {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
  }

  #submit:hover {
    cursor: pointer;
    background-color: darkslategray;
  }

  .body-cont {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mem {
    margin: 5%;
    background-color: lightgray;
    border: 3px solid turquoise;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .mem:hover {
    cursor: pointer;
    background-color: darkgrey;
  }

  .mem-image {
    margin-top: 5%;
    font-weight: bold;
    font-family: cursive;
    width: 300px;
    height: 300px;
    
  }

  .mem-name {
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: cursive;
  }

  .mem-born {
    font-size: 150%;
    font-family: cursive;
  }

  #dates-dash {
    font-size: 150%;
  }

  .mem-dead {
    font-size: 150%;
    font-family: cursive;
  }

  .mem-desc {
    font-size: 120%;
    margin-top: 5%;
    font-family: cursive;
  }

  .audio-button-cont {
    margin-top: 1%;
    height: 30%;
  }

  #loading {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
  }

  audio::-webkit-media-controls-panel {
    background-color: turquoise;
    border-radius: 5px;
  }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {


  * {
    font-family: arial;
  }

  .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid turquoise;
    border-bottom: 0.5px solid grey;
  }

  .header-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  #title {
    font-size: 250%;
  }

  #title-desc {
    color: red;
    font-size: 120%;
  }

  .header-button {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #create-button {
    margin-right: 100px;
    width: 170px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #create-button:hover {
    background-color: turquoise;
  }

  .flex-end {
    display: flex;
    justify-content: center;
    border-top: 0.5px solid grey;
  }

  #copyright {
    margin-right: 2%;
  }

  #error {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }

  .exit-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .exit-title {
    flex: 1;
    text-align: center;
    margin: 10px;
  }

  .exit-button-cont {
    flex: 1;
    text-align: right;
    margin: 10px;
  }

  #exit-button {
    margin-right: 100px;
    width: 150px;
    height: 120px;
    font-size: 100px;
    cursor: pointer;
    background-color: transparent;
    border: None;
    appearance: none;
    color: black;
    text-align: center;
    border-radius: 10px;
  }

  #exit-button:hover {
    background-color: grey;
  }

  .obituary-body-cont {
    height: 700px;
  }

  #obituary-title {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #flowers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form-cont > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #picture {
    display: none;
  }

  #image-selector {
    font-size: 200%;
    padding-bottom: 20px;
  }

  #image-selector:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #selected-file {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #deceased-name {
    width: 25%;
    height: 50px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
    outline: none;
    font-size: 150%;
  }

  #born {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #died {
    margin: 10px;
    color: black;
    border: none;
    outline: none;
  }

  #born-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #died-label {
    font-size: 150%;
    color: black;
    font-style: italic;
  }

  #submit {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
  }

  #submit:hover {
    cursor: pointer;
    background-color: darkslategray;
  }

  .body-cont {
    display: flex;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
  }

  .mem {
    margin: 1%;
    background-color: lightgray;
    border: 3px solid turquoise;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: min-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .mem:hover {
    cursor: pointer;
    background-color: darkgrey;
  }

  .mem-image {
    margin-top: 5%;
    font-weight: bold;
    font-family: cursive;
    width: 300px;
    height: 300px;

  }

  .mem-name {
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: cursive;
  }

  .mem-born {
    font-size: 150%;
    font-family: cursive;
  }

  #dates-dash {
    font-size: 150%;
  }

  .mem-dead {
    font-size: 150%;
    font-family: cursive;
  }

  .mem-desc {
    font-size: 120%;
    margin-top: 5%;
    font-family: cursive;
  }

  .audio-button-cont {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 30%;
    display: flex;
    align-items: end;
  }

  #loading {
    margin-top: 10px;
    height: 80px;
    width: 50%;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
  }

  audio::-webkit-media-controls-panel {
    background-color: turquoise;
    border-radius: 5px;
  }

}
